button {
    width: 90%;
    margin: 5px 4%;
}

ul {
    list-style-type: none;
    padding: 0;
    max-height: 250px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    scrollbar-width: thin;
}

li {
    margin: 5px 0;
}

label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
}

input[type="checkbox"]:checked {
    background-color:  var(--vscode-button-background);
    position: relative;
}

input[type="checkbox"]:checked::after {
    content: '\2714';
    color: white;
    font-size: 14px;
    position: absolute;
    left: 2px;
    text-align: center;
}

#result-llm {
    margin: 10px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 4px;
    max-height: 600px;
    overflow-x: scroll;
    scrollbar-width: thin;
}

.sum-div {
    display: flex;
    flex-wrap: wrap;
}

.btn-sum {
    flex: 1 1 45%;
    margin: 5px;
}